/* colour pallette:
Yale blue: #164684
Turquoise : #5DE1E5
Light coral: #FF8C8C
Mustard: #FFDE5B 
Yellow red: #FFBD59

*/



* {
  background-color: #FFF3C2;
  margin: 0;
  padding: 0;
}



.navbar {
  background-color: #FFDE5B;
  height: 110px;
  margin-bottom: 25px;
  
}

.navbar--ul, .nav--link, li{
  background-color: #FFDE5B;
  text-decoration: none;
  list-style: none;
  display: flex;
}

.nav--link {
  padding: 20px;
  font-weight: bold;
}

#logo {
  width: 100px;
  background-color: #FFDE5B;
}

.footer-container {
  background-color: #FFDE5B;
}

.footer {
  background-color: #FFDE5B;
  padding-bottom: 0px;
  /* height: 200px; */
  display: flex;
}

.footer--ul li, .link, h4 {
  text-decoration: none;
  color: #164684;
  list-style: none;
  background-color: #FFDE5B;
  margin: 0em 0em 0em 0em;
  padding: 0px 0px 0px 0px;
  
}

.social-media-logo {
  background-color: #FFDE5B;
  width: 48px;
  height: 48px;
}

